/* Estilos generales para la tabla */
table {
    border: 2px solid #EFB034FF;
    border-collapse: collapse;
    width: 85%;
    background-color: #f2f2f2;
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

/* Estilos para la barra de búsqueda */
.barra_busqueda form {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* Estilos para el input de búsqueda */
.textbox input {
    width: 40%;
    height: 90%;
    padding-left: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    border-radius: 4px;
    border: 2px solid #EFB034FF;
}

/* Estilos para el botón de búsqueda */
.textbox button {
    font-family: Inter;
    font-size: 15px; 
    font-weight: 700; 
    background-color: #EFB034FF;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 4px 4px; 
    cursor: pointer;
    width: 65px; 
    height: 30px; 
    display: inline-block; 
}

/* Propiedad hover del input */
.textbox input:hover {
    background: #FFFFFFFF;
    border-color: #FFEB99FF;
}

/* Propiedad hover del botón */
.textbox button:hover {
    background-color: rgb(230, 155, 4);
}

/* Propiedad focus del input */
.textbox input:focus {
    outline: none;
    color: #EFB034FF;
    border: 2px solid #EFB034FF;
}

/* Estilos para los botones */
.botones button {
    background-color: #FFEB99;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70px;
}

.botones button:nth-child(2) {
    background-color: rgb(233, 55, 55);
    color: #fff;
}

/* Encabezado y Barra de Navegación */
nav {
    width: 100%;
    background-color: #000;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Contenedor de Formulario de Búsqueda */
.barra_busqueda form {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}

.barra_busqueda form input[type="text"] {
    margin-right: 10px; /* Añade espacio entre el campo de búsqueda y el botón */
}
/* Tabla y Elementos de Tabla */
table {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
}

thead {
    background-color: #FFEB99FF;
    border: 2px solid #EFB034FF;
}

tbody tr {
    border-bottom: 1px solid #EFB034FF;
}

td, th {
    /* padding: 10px; */
    text-align: center;
}

/* Imagen del Producto */
.contenedor-img {
    text-align: center;
}

.product-image {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    table {
        width: 100%;
    }

    .barra_busqueda form {
        flex-direction: column;
        padding: 20px;
    }

    h1 {
        padding-left: 10px;
    }
}

/* Responsividad general */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.p {
    text-align: center;
}